$white: #d5d5d5;
$font-family_1: 'roboto', sans-serif;
$font-family_2: 'Monoton', cursive;
$background-color_1: #2b2b2b;
$background-color_2: white;
$background-color_3: #28a745;
$background-color_4: #218838;
$background-color_5: rgba(0, 0, 0, 0.8);
$primary: rgba(71, 114, 234, 0.81);
$primary-hover: #406ff3;
$error: #af0505;
$error-hover: #df1010;
$text-blue_1: #6a778e;
$text-gray_1: #333333;
$borderRadius: 10px;
$spacer: 1rem;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;

$input-height: 75px;

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: $font-family_1;
}

body {
	background-color: $background-color_1;
}

/* top logo center */
/* top logo center */
.logoHeader a {
  text-decoration: none;
}
.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  height: 40px;
  width: 100%;
  cursor: pointer;
  &__style{
      text-align: center;
      color: $text-blue_1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 20px auto;
      width: 75px;
      height: 75px;
      background: white;
      border-radius: 75px;
      font-family: $font-family_1;
      font-size: 16px;
      font-weight: 1000;
      letter-spacing: 2px;
      transition: 1s box-shadow, .2s color;
      &:hover {
          box-shadow: 0 5px 35px 0 rgba(0,0,0,.1);
          color: $text-gray_1;
          transition: .2s color;
          &::before {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;
          }
          &::after {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;

          }
          &:after {
              background: $primary;
              animation: 2s counterclockwise infinite;
          }
      }
  }
}



@keyframes clockwise {
	0% {
		top: -5px;
		left: 0;
	}
	12% {
		top: -2px;
		left: 2px;
	}
	25% {
		top: 0;
		left: 5px;
	}
	37% {
		top: 2px;
		left: 2px;
	}
	50% {
		top: 5px;
		left: 0;
	}
	62% {
		top: 2px;
		left: -2px;
	}
	75% {
		top: 0;
		left: -5px;
	}
	87% {
		top: -2px;
		left: -2px;
	}
	100% {
		top: -5px;
		left: 0;
	}
}
@keyframes counterclockwise {
	0% {
		top: -5px;
		right: 0;
	}
	12% {
		top: -2px;
		right: 2px;
	}
	25% {
		top: 0;
		right: 5px;
	}
	37% {
		top: 2px;
		right: 2px;
	}
	50% {
		top: 5px;
		right: 0;
	}
	62% {
		top: 2px;
		right: -2px;
	}
	75% {
		top: 0;
		right: -5px;
	}
	87% {
		top: -2px;
		right: -2px;
	}
	100% {
		top: -5px;
		right: 0;
	}
}







.container {
	width: 600px;
	margin: 50px auto;
	background-color: $background-color_2;
	padding: 3%;
	border-radius: 8px;
}
.containerTitle {
	text-align: center;
}
.formTask {
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.formGroup {

}
input {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
textarea {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button1 {
	width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $primary;
        box-shadow: 0 15px 20px $primary-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

.buttonError {
	width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $error;
        box-shadow: 0 15px 20px $error-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

ul {
	list-style-type: none;
	padding: 0;
}
.temp li {
	margin-bottom: 10px;
}



@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.navbar{
  $ref: &;
  position: fixed;
  top: $spacer;
  left: $spacer;
  background: #fff;
  border-radius: $borderRadius;
  padding: $spacer 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.03);
  height: calc(100vh - #{$spacer*4});
  &__link{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    width: $spacer * 5.5;
    color: $text-blue_1;
    transition: $transition;
    span{
      position: absolute;
      left: 100%;
      transform: translate(-($spacer*3));
      margin-left: 1rem;
      opacity: 0;
      pointer-events: none;
      color: $primary;
      background: #fff;
      padding: $spacer *0.75;
      transition: $transition;
      border-radius: $borderRadius * 1.75;
    }
    &:hover{
      color: #fff;
    }
    .navbar:not(:hover) &:focus,
    &:hover{
      span{
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  &__menu{
    position: relative;
  }
  &__item{
    &:last-child{
      &:before{
        content: '';
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: $spacer;
        width: $linkHeight;
        height: $linkHeight;
        background: $primary;
        border-radius: $borderRadius * 1.75;
        transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;

      }
    }

    @for $i from 1 to 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        &:hover {
          ~ li:last-child:before {
            opacity: 1;
          }
        }
        &:last-child:hover:before {
          opacity: 1;
        }
        @for $j from 1 to $i {
          &:nth-child(#{$j}):hover, {
            ~ li:last-child:before {
              @include gooeyEffect($j);
              top: (100% / $i) * ($j - 1);
              animation: gooeyEffect-#{$j} $timing 1;
            }
          }
        }
        &:last-child:hover:before, {
          @include gooeyEffect($i);
          top: (100% / $i) * ($i - 1);
          animation: gooeyEffect-#{$i} $timing 1;
        }
      }
    }

  }

}

.createTaskForm {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 15%;

  background: transparent;

  header {
    position: relative;
    z-index: 4;
    background: $white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;

    h1 {
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #333;
      font-size: 23px;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      word-spacing: 0px;
      color: rgb(159, 172, 182);
      font-size: 17px;
      margin: 0;
      margin-top: 5px;
    }
  }

  form {
    position: relative;
  }

  .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: $input-height;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in;

    &.folded {
      width: 95%;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;

      input {
        background-color: rgb(233, 226, 192);
      }

      span {
        background-color: rgb(233, 226, 192);
      }
    }

    &.folded + .folded {
      width: 90%;
      margin-top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0;

      input {
        background-color: rgb(225, 188, 239);
      }

      span {
        background-color: rgb(225, 188, 239);
      }
    }

    &.fold-up {
      margin-top: -$input-height;
    }
  }

  form input {
    background: lighten(rgb(243, 243, 251), 5%);
    color: rgb(143, 143, 214);
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgb(143, 143, 214);
      font-weight: 100;
    }
  }
}

.animated-button {
  width: 20%;
  background-color: rgb(212, 212, 255);

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: $input-height;
    text-align: center;
    height: $input-height;
    transition: all 0.2s ease-in;

    i {
      font-size: 25px;
      color: rgb(153, 153, 248);
    }
  }

  .next-button {
    background: transparent;
    color: rgb(153, 153, 248);
    font-weight: 100;
    width: 100%;
    border: 0;
    position: relative;
    z-index: 1000;
  }
}

.next {
  margin-top: -$input-height;
}

.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: $input-height;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 0 100px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in;
  background: limegreen;
  margin-top: -$input-height;

  p {
    color: $white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}



