/* ________________ SUMMARY ________________

1. Root
1.1 Variables
1.1.a
1.1.b
1.1.c
2. Base








*/





/* ------ 1. Root ------*/

/* ----- 1.1 Variables -----*/

/* ---- 1.1.a Base Colors ----*/
$white: #ffffff;
$font-family_1: 'roboto', sans-serif;
$font-family_2: 'Monoton', cursive;
$font-family_3: 'Exo', sans-serif;
$font-family_4: 'Exo2', sans-serif;
$font-tiny: .8em;
$font-title: 1.3em;
$background-color_1: #2b2b2b;
$background-color_2: white;
$background-color_3: #28a745;
$background-color_4: #218838;
$background-color_5: rgba(0, 0, 0, 0.8);
$primary: rgba(71, 114, 234, 0.81);
$secondary: rgba(71, 114, 234, 0.98);
$secondary-hover: #9871f4;
$primary-hover: #406ff3;
$validate-hover: #4cf340;
$validate: #3fcc35;
$error: #af0505;
$error-hover: #df1010;
$text-blue_1: #6a778e;
$gray_1: #333333;
$borderRadius: 10px;
$spacer: 1rem;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;
$duration: 0.8s;
$input-height: 75px;

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: $font-family_1;
}

body {
	background-color: $background-color_1;
}

.logoHeader__style a:visited {
  color: inherit;
}
.logoHeader__style a:active {
  color: inherit;
}

.gifBg1 {
    background: url(bg1.gif)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}
.gifBg2 {
    background: url(bg2.gif)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}
.gifBg3 {
    background: url(bg3.gif)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}
.gifBg4 {
    background: url(bg4.gif)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}


/* checkbox test */

.todo-list {
  position: relative;
  transform: translateY(10em);
  background: #FFF;
  font-size: 20px;
  max-width: 15em;
  margin: auto;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;

  &:last-child { border-bottom: none; }
}

.todo span {
  font-weight: 300;
  font-size: 0.55em;
  position: absolute;
  opacity: 0!important;
}
.todo .right {
      transform: translate(18em, 2.3em);
}
.todo .left {
      transform: translate(0, 2.3em);
}
.todo:hover span {
  opacity: 1!important;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  //saturate(#1B4A4E,15%);
  color: $text-blue_1;
  transition: all $duration/2 linear $duration/2;
}
.todo__smallText  {
  //saturate(#1B4A4E,15%);
  color: $text-blue_1;
  transition: all $duration/2 linear $duration/2;
}


.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;

  fill: none;
  stroke: $text-blue_1;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset $duration cubic-bezier(.9,.0,.5,1);
}


.todo__circle {
  stroke: $primary;
  stroke-dasharray: 1 6;
  stroke-width: 0;

  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none $duration linear; //cubic-bezier(.08,.56,.04,.98);

  @keyframes explode {
    //0% { stroke-width: 0; transform: scale(0.5) rotate(0deg); }
    30% {
      stroke-width: 3;
      stroke-opacity: 1;
      transform: scale(0.8) rotate(40deg);
      //animation-timing-function: cubic-bezier(.89,.01,.95,.51);
    }
    100% {
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(1.1) rotate(60deg);
      //animation-timing-function: cubic-bezier(.08,.56,.04,.98);
    }
  }
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053; stroke-dashoffset: 0;
  transition-delay: $duration * 0.2;
}
.todo__check {
  stroke: $primary;
  stroke-dasharray: 9.8995, 9.8995; stroke-dashoffset: 9.8995;
  transition-duration: $duration * 0.4;
}
.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}
.todo__circle {
  animation-delay: $duration * 0.7;
  animation-duration: $duration * 0.7;
}

.todo__state:checked {
  ~ .todo__smallText { transition-delay: 0s; color: $primary; opacity: 0.6; }

  ~ .todo__text { transition-delay: 0s; color: $primary; opacity: 0.6; }

  ~ .todo__icon .todo__box { stroke-dashoffset: 56.1053; transition-delay: 0s; }
  ~ .todo__icon .todo__line { stroke-dashoffset: -8; }
  ~ .todo__icon .todo__check { stroke-dashoffset: 0; transition-delay: $duration * 0.6; }
  ~ .todo__icon .todo__circle { animation-name: explode; }

}

/* context menu

.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #f2f2f2;
}


/* context menu v2 */


.contextMenu {
  --menu-border: rgba(255, 255, 255, 0.08);
  --menu-bg: linear-gradient(
    45deg,
    rgba(10, 20, 28, 0.2) 0%,
    rgba(10, 20, 28, 0.7) 100%
  );
  --item-border: rgba(255, 255, 255, 0.1);
  --item-color: #fff;
  --item-bg-hover: rgba(255, 255, 255, 0.1);

  height: 0;
  overflow: hidden;
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  position: fixed;
  top: var(--top);
  left: var(--left);
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
  list-style: none;
  margin: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  box-shadow: 0 0 0 1px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
    0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
    0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
    0 70px 65px rgb(0 0 0 / 9%);

  &-item {
    padding: 4px;
  }

  &-item[data-divider="top"] {
    border-top: 1px solid;
  }

  &-item[data-divider="bottom"] {
    border-bottom: 1px solid;
  }

  &-item[data-divider="top-bottom"] {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &-item[data-divider] {
    border-color: var(--item-border);
  }

  &-button {
    color: var(--item-color);
    background: 0;
    border: 0;
    white-space: nowrap;
    width: 100%;
    border-radius: 4px;
    padding: 6px 24px 6px 7px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    animation: menuItemAnimation 0.2s 0s both;
    font-family: "Inter", sans-serif;
    cursor: pointer;

    &:hover {
      background-color: var(--item-bg-hover);
    }
  }

  &[data-theme="light"] {
    --menu-bg: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.85) 100%
    );
    --menu-border: rgba(0, 0, 0, 0.08);
    --item-border: rgba(0, 0, 0, 0.1);
    --item-color: rgb(10, 20, 28);
    --item-bg-hover: rgba(10, 20, 28, 0.09);
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



/* top logo center */
.logoHeader a {
  text-decoration: none;
}
.logoHeader {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  height: 40px;
  width: 100%;
  cursor: pointer;
  &__style{
      text-align: center;
      color: $text-blue_1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 20px auto;
      width: 75px;
      height: 75px;
      background: white;
      border-radius: 75px;
      font-family: $font-family_1;
      font-size: 16px;
      font-weight: 1000;
      letter-spacing: 2px;
      transition: 1s box-shadow, .2s color;
      &:hover {
          box-shadow: 0 5px 35px 0 rgba(0,0,0,.1);
          color: $gray_1;
          transition: .2s color;
          &::before {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;
          }
          &::after {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;

          }
          &:after {
              background: $primary;
              animation: 2s counterclockwise infinite;
          }
      }
  }
}

@keyframes clockwise {
	0% {
		top: -5px;
		left: 0;
	}
	12% {
		top: -2px;
		left: 2px;
	}
	25% {
		top: 0;
		left: 5px;
	}
	37% {
		top: 2px;
		left: 2px;
	}
	50% {
		top: 5px;
		left: 0;
	}
	62% {
		top: 2px;
		left: -2px;
	}
	75% {
		top: 0;
		left: -5px;
	}
	87% {
		top: -2px;
		left: -2px;
	}
	100% {
		top: -5px;
		left: 0;
	}
}
@keyframes counterclockwise {
	0% {
		top: -5px;
		right: 0;
	}
	12% {
		top: -2px;
		right: 2px;
	}
	25% {
		top: 0;
		right: 5px;
	}
	37% {
		top: 2px;
		right: 2px;
	}
	50% {
		top: 5px;
		right: 0;
	}
	62% {
		top: 2px;
		right: -2px;
	}
	75% {
		top: 0;
		right: -5px;
	}
	87% {
		top: -2px;
		right: -2px;
	}
	100% {
		top: -5px;
		right: 0;
	}
}


/* tooltip */

.todo .tooltip {
  --menu-border: rgba(255, 255, 255, 0.08);
  --menu-bg: linear-gradient(
    45deg,
    rgba(10, 20, 28, 0.2) 0%,
    rgba(10, 20, 28, 0.7) 100%
  );
  --item-border: rgba(255, 255, 255, 0.1);
  --item-color: #fff;
  --item-bg-hover: rgba(255, 255, 255, 0.1);

  max-width: 100vh;
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: absolute;
  top: 0;
  cursor: default;
  font-size: 0.8em;
  color: var(--item-color);
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 0 0 1px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
  0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
  0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
  0 70px 65px rgb(0 0 0 / 9%);
}


.todo .todo__form:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.todo .todo__form:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

/* todo columns */
.todo_columns {
  columns: 2;
}

.todo_leftSection {
  display: table;
  height: 100%;
}
.todo_title {
  font-size: $font-title;
  font-weight: 600;
}
.todo_rightSection {
  display: table;
  position: relative;
  left: 70%;
}
.todo_rightSection .creation_date{
  position: absolute;
  font-size: $font-tiny;
  font-weight: 200;
  letter-spacing: 2px;
}
.todo_rightSection .buttonError{
  position: absolute;
  margin-top: 20px;
}


.charts-container {
	width: 600px;
	left: 50%;
    transform: translate(-50%, 0%);
    top: 20%;
	background-color: $background-color_2;
	padding: 3%;
	border-radius: 15px;
    position: absolute;
}
.containerTitle {
	text-align: center;
}
.formTask {
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.formGroup {

}
input {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	/*border-radius: 4px;*/
}
textarea {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button1 {
	width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $primary;
        box-shadow: 0 15px 20px $primary-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

.buttonError {
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $error;
        box-shadow: 0 15px 20px $error-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

ul {
	list-style-type: none;
	padding: 0;
}
.temp li {
	margin-bottom: 10px;
}



@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.navbar{
  z-index: 99999;
  $ref: &;
  position: fixed;
  top: $spacer;
  left: $spacer;
  background: #fff;
  border-radius: $borderRadius;
  padding: $spacer 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.03);
  height: calc(100vh - #{$spacer*4});
  &__link{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    width: $spacer * 5.5;
    color: $text-blue_1;
    transition: $transition;
    span{
      position: absolute;
      left: 100%;
      transform: translate(-($spacer*3));
      margin-left: 1rem;
      opacity: 0;
      pointer-events: none;
      color: $primary;
      background: #fff;
      padding: $spacer *0.75;
      transition: $transition;
      border-radius: $borderRadius * 1.75;
    }
    &:hover{
      color: #fff;
    }
    .navbar:not(:hover) &:focus,
    &:hover{
      span{
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  &__menu{
    position: relative;
  }
  &__item{
    &:last-child{
      &:before{
        content: '';
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: $spacer;
        width: $linkHeight;
        height: $linkHeight;
        background: $primary;
        border-radius: $borderRadius * 1.75;
        transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;

      }
    }

    @for $i from 1 to 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        &:hover {
          ~ li:last-child:before {
            opacity: 1;
          }
        }
        &:last-child:hover:before {
          opacity: 1;
        }
        @for $j from 1 to $i {
          &:nth-child(#{$j}):hover, {
            ~ li:last-child:before {
              @include gooeyEffect($j);
              top: (100% / $i) * ($j - 1);
              animation: gooeyEffect-#{$j} $timing 1;
            }
          }
        }
        &:last-child:hover:before, {
          @include gooeyEffect($i);
          top: (100% / $i) * ($i - 1);
          animation: gooeyEffect-#{$i} $timing 1;
        }
      }
    }

  }

}

.createTaskForm {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 25%;

  background: transparent;

  header {
    position: relative;
    z-index: 4;
    background: $white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;

    h1 {
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #333;
      font-size: 23px;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      word-spacing: 0px;
      color: rgb(159, 172, 182);
      font-size: 17px;
      margin: 0;
      margin-top: 5px;
    }
  }

  form {
    position: relative;
  }

  .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: $input-height;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in;

    &.folded {
      width: 95%;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;

      input {
        background-color: $primary;
      }

      span {
        background-color: $primary;
      }
    }

    &.folded + .folded {
      width: 90%;
      margin-top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0;

      input {
        background-color: $primary-hover;
      }

      span {
        background-color: $primary-hover;
      }
    }

    &.fold-up {
      margin-top: -$input-height;
    }
  }

  form input {
    background: lighten(rgb(243, 243, 251), 5%);
    color: $primary;
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $primary;
      font-weight: 350;
      letter-spacing: 2px;
      opacity: 0.6;
    }
  }
}

.animated-button {
  width: 20%;
  background-color: $white;

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: $input-height;
    text-align: center;
    height: $input-height;
    transition: all 0.2s ease-in;

    i {
      font-size: 25px;
      color: $text-blue_1;
    }
  }

  .next-button {
    background: $secondary;
    color: $white;
    font-weight: 100;
    width: 100%;
    border: 0;
    position: relative;
    z-index: 1000;
  }
}

.next {
  margin-top: -$input-height;
}

.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: $input-height;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 0 100px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in;
  background: limegreen;
  margin-top: -$input-height;

  p {
    color: $white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}


/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* --- background --- */


.area{
    width: 100%;
    max-height:100vh;
    pointer-events: none;
}

.circles{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(71, 114, 234, 0.3);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



/* --- blog home page --- */



/* --- dashboard charts card --- */


.charts-container {
    background: transparent;
    position: absolute;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* top: 60px; */
    /* bottom: calc(10%); */
    display: flex;
}

.charts-card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: $gray_1;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.charts-card:not(:first-child) {
    margin-left: -50px;
}

.charts-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.charts-card:hover ~ .charts-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.charts-card .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.charts-card .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.charts-card .emptybar {
  background-color: $text-blue_1;
  width: 100%;
  height: 100%;
}

.charts-card .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.charts-card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.charts-card .circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.charts-card .stroke {
  stroke: $text-blue_1;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.charts-card svg {
  fill: $gray-1;
  stroke-width: 2px;
}

.charts-card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

/* --- Premium Freemium Pricing --- */

:root {
  /* vars */
  --table-bg: rgb(20 20 26 / 1);
  --table-border: #343447;
  --table-padding: 0.5em;
  --table-color-1: rgba(71, 114, 234, 0.98);
  --table-color-2: #9871f4;
  --table-radius: 12px;
  --inner-radius: calc(var(--table-radius) * 0.666667);
}

.feature-table {
  width: 100%;
  font-size: 14px;
  position: relative;

  svg {
    height: 1.2em;
  }

  th {
    text-align: left;
  }

  thead *,
  td {
    text-align: center;
  }

  th > div,
  td > div {
    padding: 0.5em;
  }
  tbody th > div {
    padding-left: 1em;
  }

  tbody tr > td {
    color: rgb(255 255 255 / 0.66);
  }
  tbody tr > * {
    vertical-align: bottom;
    min-height: 1.5em;
  }
  tbody tr > * > div {
    display: grid;
    justify-items: start;
  }
  tbody tr > td > div {
    justify-items: center;
  }

  tbody tr * {
    transition: all 0.25s ease-in-out;
  }
  tbody tr:hover * {
    transition: all 0.05s ease-in-out;
  }
  tbody tr:hover > th {
    color: $primary-hover;
  }
  tbody tr:hover > td svg {
    color: white;
    filter:
      drop-shadow(0 0 4px white)
      brightness(1.5);
  }
  tbody tr:hover > td:nth-of-type(1) {
    color: white;
  }
  tbody tr:hover > td:nth-last-of-type(1) svg {
    color: $secondary-hover;
    filter:
      drop-shadow(0 0 4px $secondary-hover)
      brightness(1.5);
    scale: 1.2;
  }

  thead th,
  tbody tr:nth-of-type(1) > * {
    padding-top: var(--table-padding);
  }
  tbody tr:nth-last-of-type(1) > * {
    padding-bottom: var(--table-padding);
  }
  thead th:nth-of-type(1),
  tbody th:nth-of-type(1) {
    padding-left: var(--table-padding);
  }
  thead th:nth-last-of-type(1),
  tbody td:nth-last-of-type(1) {
    padding-right: var(--table-padding);
  }
  tbody tr:nth-of-type(1) > * > div {
    padding-top: calc(var(--table-padding) * 2);
  }

  thead th > div,
  tbody tr:nth-of-type(1) > th > div {
    border-top: 1px solid var(--table-border);
  }
  tbody tr:nth-of-type(1) > td > div {
    border-top: 1px solid transparent;
  }
  thead th:nth-of-type(1) > div,
  tbody th:nth-of-type(1) > div {
    border-left: 1px solid var(--table-border);
  }
  thead th:nth-last-of-type(1) > div,
  tbody td:nth-last-of-type(1) > div {
    border-right: 1px solid var(--table-border);
  }
  tbody tr:nth-last-of-type(1) th > div,
  tbody tr:nth-last-of-type(1) td > div {
    border-bottom: 1px solid var(--table-border);
  }

  thead th:nth-of-type(1) {
    position: relative;
  }
  thead th:nth-of-type(1)::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    translate: calc(var(--table-padding) * -2) calc(var(--table-padding) * -0.5);
    background: transparent;
    width: calc(var(--table-padding) * 2);
    height: calc(var(--table-padding) * 2);
    border-bottom-right-radius: calc(var(--table-radius));
    border-bottom: var(--table-padding) solid var(--table-bg);
    border-right: var(--table-padding) solid var(--table-bg);
  }
  thead th:nth-of-type(1)::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: -1px;
    translate: calc(var(--table-padding) * -2) calc(var(--table-padding) * -0.5);
    background: transparent;
    width: calc(var(--table-padding) * 3);
    height: calc(var(--table-padding) * 3);
    border-bottom-right-radius: calc(var(--inner-radius));
    border-bottom: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    box-shadow: calc(var(--table-padding) * 0.5)
        calc(var(--table-padding) * 0.5) 0 0 var(--table-bg),
      calc(var(--table-padding) * 1) calc(var(--table-padding) * 1) 0 0
        var(--table-bg);
  }

  thead th,
  tbody th,
  tbody td {
    background: var(--table-bg);
    color: $text-blue_1;
  }

  thead {
    position: relative;
    z-index: 1;
    th {
      &:nth-of-type(1) {
        padding-right: 0;
        border-top-left-radius: var(--table-radius);
        > div {
          border-top-left-radius: var(--inner-radius);
        }
      }
      &:nth-of-type(2) {
        padding-left: 0;
        border-top-right-radius: var(--table-radius);
        > div {
          border-top-right-radius: var(--inner-radius);
        }
      }
    }
  }

  tbody {
    position: relative;
    translate: 0px calc(var(--table-padding) * -1.5);
    tr:nth-of-type(1) th {
      border-top-left-radius: var(--table-radius);
      > div {
        border-top-left-radius: var(--inner-radius);
      }
    }
    tr:nth-last-of-type(1) th {
      border-bottom-left-radius: var(--table-radius);
      > div {
        border-bottom-left-radius: var(--inner-radius);
      }
    }
    tr:nth-last-of-type(1) td:nth-last-of-type(1) {
      border-bottom-right-radius: var(--table-radius);
      > div {
        border-bottom-right-radius: var(--inner-radius);
      }
    }
    th {
      padding-right: 0;
    }
    td {
      padding-left: 0;
    }
  }

  thead th:nth-last-of-type(1) {
    position: relative;
  }

  thead th:nth-last-of-type(1) > div > * {
    position: relative;
    z-index: 4;
  }

  thead th:nth-last-of-type(1)::before {
    content: "";
    z-index: 3;
    height: 1px;
    width: calc(130%);
    position: absolute;
    top: var(--table-padding);
    right: calc(var(--table-padding) + var(--inner-radius));
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(
      270deg,
      $primary-hover 50%,
      var(--table-border)
    );
  }

  &::after {
    content: "";
    z-index: 2;
    width: 1px;
    height: calc(
      100% - ((var(--table-padding) * 4) + (var(--inner-radius) * 4))
    );
    position: absolute;
    right: var(--table-padding);
    top: calc(var(--table-padding) + var(--inner-radius));
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(
      180deg,
      transparent,
      $secondary-hover 3em,
      var(--table-border) 75%
    );
  }

  thead th:nth-last-of-type(1) > div::after {
    content: "";
    z-index: 2;
    position: absolute;
    right: var(--table-padding);
    top: var(--table-padding);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-top-right-radius: var(--inner-radius);
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    background: linear-gradient(0deg, var(--table-bg), var(--table-bg))
        padding-box,
      radial-gradient(
          100% 100% at 100% 0%,
          transparent 20%,
          var(--table-border) 100%
        )
        border-box,
      conic-gradient(
          from 0deg at 110% -10%,
          $primary-hover 0%,
          $secondary-hover 50%,
          $primary-hover 75%
        )
        border-box;
  }

  thead::after,
  thead::before,
  thead > tr > th:last-child::before,
  thead > tr > th:last-child::after {
    --c: #47c2ff;
    content: "";
    z-index: 5;
    position: absolute;
    background-color: var(--c);
    right: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url(https://assets.codepen.io/13471/sparkle.svg);
    animation: sparkle1 4.5s ease-in infinite 0s both;
  }
  thead::before {
    --c: #9871f4;
    right: 18px;
    top: 18px;
    width: 10px;
    height: 10px;
    animation-duration: 3.75s;
    animation-delay: 1s;
  }
  thead > tr > th:last-child::before {
    --c: #47c2ff;
    right: 2px;
    top: 18px;
    width: 6px;
    height: 6px;
    animation-duration: 2.33s;
    animation-delay: 0.7s;
  }
  thead > tr > th:last-child::after {
    --c: #9871f4;
    right: 23px;
    top: 4px;
    width: 7px;
    height: 7px;
    animation-duration: 2.66s;
    animation-delay: 0.3s;
  }
}

.tag {
  color: $text-blue_1;
  display: block;
  padding: 0.125em 0.5em;
  background: linear-gradient(0deg, rgb(48 46 52 / 1), rgb(48 46 52 / 1));
  border-radius: 4px;
  border: 1px solid transparent;
}
.tag.pro {
  background: linear-gradient(180deg, rgb(48 46 52 / 0.9), rgb(48 46 52 / 1))
      padding-box,
    linear-gradient(
        to bottom right,
        $primary-hover,
        $secondary-hover
      )
      border-box;
}

@keyframes sparkle1 {
  0% {
    opacity: 0;
    translate: -5px 0px;
    scale: 0.85;
    animation-timing-function: ease-in;
  }
  25% {
    opacity: 1;
    scale: 1;
    animation-timing-function: ease-out;
  }
  33%,
  49.999% {
    animation-timing-function: ease-out;
    opacity: 0;
    translate: 0px -20px;
    scale: 0.75;
  }
  50% {
    opacity: 0;
    translate: -15px 0px;
    scale: 0.85;
    animation-timing-function: ease-in;
  }
  75% {
    opacity: 1;
    scale: 1;
    animation-timing-function: ease-out;
  }
  83%,
  100% {
    animation-timing-function: ease-out;
    opacity: 0;
    translate: -10px -20px;
    scale: 0.75;
  }
}

.pricing-control {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-items: center;
  transform: translateY(15vh);
  * {
    margin: 0;
  }
  > div {
    display: flex;
    gap: .5em;
  }
  > div:nth-child(1) {
    flex-direction: column;
    gap: 0;
  }
}

.pricing-control {
  * {
    box-sizing: border-box;
  }
  h1,h3,p {
    color: $text-blue_1;
  }

  span.color {
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 3em;
    padding: 0;
    margin-bottom: 10vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 2em;
    border: 3px solid var(--table-bg);
    box-sizing: border-box;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 2em;
    border: 3px solid var(--table-bg);
    box-sizing: border-box;
  }
}



#pricing-app {
  padding: 2em 0;
  overflow: hidden;
  resize: horizontal;
  width: 50vw;
  min-width: 380px;
}

.center {
  padding-block: 2em;
  display: grid;
  justify-content: center;
}

/* --- Under construction --- */


.warning-content {
	position:absolute;
  top:25%;
  width:100%;
  height:300px;
  text-align:center;
  margin:0;
  color: $text-blue_1;

}


