/* ________________ SUMMARY ________________

1. Root
1.1 Variables
1.1.a
1.1.b
1.1.c
2. Base








*/





/* ------ 1. Root ------*/

/* ----- 1.1 Variables -----*/

/* ---- 1.1.a Base Colors ----*/
$white: #ffffff;
$font-family_1: 'roboto', sans-serif;
$font-family_2: 'Monoton', cursive;
$font-tiny: .8em;
$font-title: 1.3em;
$background-color_1: #2b2b2b;
$background-color_2: white;
$background-color_3: #28a745;
$background-color_4: #218838;
$background-color_5: rgba(0, 0, 0, 0.8);
$primary: rgba(71, 114, 234, 0.81);
$secondary: rgba(71, 114, 234, 0.98);
$primary-hover: #406ff3;
$validate-hover: #4cf340;
$validate: #3fcc35;
$error: #af0505;
$error-hover: #df1010;
$text-blue_1: #6a778e;
$gray_1: #333333;
$borderRadius: 10px;
$spacer: 1rem;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;
$duration: 0.8s;
$input-height: 75px;

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: $font-family_1;
}

body {
	background-color: $background-color_1;
}

.logoHeader__style a:visited {
  color: inherit;
}
.logoHeader__style a:active {
  color: inherit;
}


/* checkbox test */

.todo-list {
  position: relative;
  transform: translateY(10em);
  background: #FFF;
  font-size: 20px;
  max-width: 15em;
  margin: auto;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;

  &:last-child { border-bottom: none; }
}

.todo span {
  font-weight: 300;
  font-size: 0.55em;
  position: absolute;
  opacity: 0!important;
}
.todo .right {
      transform: translate(18em, 2.3em);
}
.todo .left {
      transform: translate(0, 2.3em);
}
.todo:hover span {
  opacity: 1!important;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  //saturate(#1B4A4E,15%);
  color: $text-blue_1;
  transition: all $duration/2 linear $duration/2;
}
.todo__smallText  {
  //saturate(#1B4A4E,15%);
  color: $text-blue_1;
  transition: all $duration/2 linear $duration/2;
}


.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;

  fill: none;
  stroke: $text-blue_1;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset $duration cubic-bezier(.9,.0,.5,1);
}


.todo__circle {
  stroke: $primary;
  stroke-dasharray: 1 6;
  stroke-width: 0;

  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none $duration linear; //cubic-bezier(.08,.56,.04,.98);

  @keyframes explode {
    //0% { stroke-width: 0; transform: scale(0.5) rotate(0deg); }
    30% {
      stroke-width: 3;
      stroke-opacity: 1;
      transform: scale(0.8) rotate(40deg);
      //animation-timing-function: cubic-bezier(.89,.01,.95,.51);
    }
    100% {
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(1.1) rotate(60deg);
      //animation-timing-function: cubic-bezier(.08,.56,.04,.98);
    }
  }
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053; stroke-dashoffset: 0;
  transition-delay: $duration * 0.2;
}
.todo__check {
  stroke: $primary;
  stroke-dasharray: 9.8995, 9.8995; stroke-dashoffset: 9.8995;
  transition-duration: $duration * 0.4;
}
.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}
.todo__circle {
  animation-delay: $duration * 0.7;
  animation-duration: $duration * 0.7;
}

.todo__state:checked {
  ~ .todo__smallText { transition-delay: 0s; color: $primary; opacity: 0.6; }

  ~ .todo__text { transition-delay: 0s; color: $primary; opacity: 0.6; }

  ~ .todo__icon .todo__box { stroke-dashoffset: 56.1053; transition-delay: 0s; }
  ~ .todo__icon .todo__line { stroke-dashoffset: -8; }
  ~ .todo__icon .todo__check { stroke-dashoffset: 0; transition-delay: $duration * 0.6; }
  ~ .todo__icon .todo__circle { animation-name: explode; }

}

/* context menu

.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #f2f2f2;
}


/* context menu v2 */


.contextMenu {
  --menu-border: rgba(255, 255, 255, 0.08);
  --menu-bg: linear-gradient(
    45deg,
    rgba(10, 20, 28, 0.2) 0%,
    rgba(10, 20, 28, 0.7) 100%
  );
  --item-border: rgba(255, 255, 255, 0.1);
  --item-color: #fff;
  --item-bg-hover: rgba(255, 255, 255, 0.1);

  height: 0;
  overflow: hidden;
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  position: fixed;
  top: var(--top);
  left: var(--left);
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
  list-style: none;
  margin: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  box-shadow: 0 0 0 1px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
    0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
    0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
    0 70px 65px rgb(0 0 0 / 9%);

  &-item {
    padding: 4px;
  }

  &-item[data-divider="top"] {
    border-top: 1px solid;
  }

  &-item[data-divider="bottom"] {
    border-bottom: 1px solid;
  }

  &-item[data-divider="top-bottom"] {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &-item[data-divider] {
    border-color: var(--item-border);
  }

  &-button {
    color: var(--item-color);
    background: 0;
    border: 0;
    white-space: nowrap;
    width: 100%;
    border-radius: 4px;
    padding: 6px 24px 6px 7px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    animation: menuItemAnimation 0.2s 0s both;
    font-family: "Inter", sans-serif;
    cursor: pointer;

    &:hover {
      background-color: var(--item-bg-hover);
    }
  }

  &[data-theme="light"] {
    --menu-bg: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.45) 0%,
      rgba(255, 255, 255, 0.85) 100%
    );
    --menu-border: rgba(0, 0, 0, 0.08);
    --item-border: rgba(0, 0, 0, 0.1);
    --item-color: rgb(10, 20, 28);
    --item-bg-hover: rgba(10, 20, 28, 0.09);
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



/* top logo center */
.logoHeader a {
  text-decoration: none;
}
.logoHeader {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  height: 40px;
  width: 100%;
  cursor: pointer;
  &__style{
      text-align: center;
      color: $text-blue_1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 20px auto;
      width: 75px;
      height: 75px;
      background: white;
      border-radius: 75px;
      font-family: $font-family_1;
      font-size: 16px;
      font-weight: 1000;
      letter-spacing: 2px;
      transition: 1s box-shadow, .2s color;
      &:hover {
          box-shadow: 0 5px 35px 0 rgba(0,0,0,.1);
          color: $gray_1;
          transition: .2s color;
          &::before {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;
          }
          &::after {
              display: block;
              content: '';
              position: absolute;
              width: 75px;
              height: 75px;
              background: $primary;
              border-radius: 75px;
              z-index: -1;
              animation: 1s clockwise infinite;

          }
          &:after {
              background: $primary;
              animation: 2s counterclockwise infinite;
          }
      }
  }
}

@keyframes clockwise {
	0% {
		top: -5px;
		left: 0;
	}
	12% {
		top: -2px;
		left: 2px;
	}
	25% {
		top: 0;
		left: 5px;
	}
	37% {
		top: 2px;
		left: 2px;
	}
	50% {
		top: 5px;
		left: 0;
	}
	62% {
		top: 2px;
		left: -2px;
	}
	75% {
		top: 0;
		left: -5px;
	}
	87% {
		top: -2px;
		left: -2px;
	}
	100% {
		top: -5px;
		left: 0;
	}
}
@keyframes counterclockwise {
	0% {
		top: -5px;
		right: 0;
	}
	12% {
		top: -2px;
		right: 2px;
	}
	25% {
		top: 0;
		right: 5px;
	}
	37% {
		top: 2px;
		right: 2px;
	}
	50% {
		top: 5px;
		right: 0;
	}
	62% {
		top: 2px;
		right: -2px;
	}
	75% {
		top: 0;
		right: -5px;
	}
	87% {
		top: -2px;
		right: -2px;
	}
	100% {
		top: -5px;
		right: 0;
	}
}


/* tooltip */

.todo .tooltip {
  --menu-border: rgba(255, 255, 255, 0.08);
  --menu-bg: linear-gradient(
    45deg,
    rgba(10, 20, 28, 0.2) 0%,
    rgba(10, 20, 28, 0.7) 100%
  );
  --item-border: rgba(255, 255, 255, 0.1);
  --item-color: #fff;
  --item-bg-hover: rgba(255, 255, 255, 0.1);

  max-width: 20vh;
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: absolute;
  top: 0;
  cursor: default;
  font-size: 0.8em;
  color: var(--item-color);
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 0 0 1px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
  0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
  0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
  0 70px 65px rgb(0 0 0 / 9%);
}


.todo .todo__form:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.todo .todo__form:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

/* todo columns */
.todo_columns {
  columns: 2;
}

.todo_leftSection {
  display: table;
  height: 100%;
}
.todo_title {
  font-size: $font-title;
  font-weight: 600;
}
.todo_rightSection {
  display: table;
  position: relative;
  left: 70%;
}
.todo_rightSection .creation_date{
  position: absolute;
  font-size: $font-tiny;
  font-weight: 200;
  letter-spacing: 2px;
}
.todo_rightSection .buttonError{
  position: absolute;
  margin-top: 20px;
}


.container {
	width: 600px;
	left: 50%;
    transform: translate(-50%, 0%);
    top: 20%;
	background-color: $background-color_2;
	padding: 3%;
	border-radius: 15px;
    position: absolute;
}
.containerTitle {
	text-align: center;
}
.formTask {
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.formGroup {

}
input {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	/*border-radius: 4px;*/
}
textarea {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button1 {
	width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $primary;
        box-shadow: 0 15px 20px $primary-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

.buttonError {
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
	&:hover {
		background-color: $error;
        box-shadow: 0 15px 20px $error-hover;
        color: #fff;
        transform: translateY(-7px);
	}
}

ul {
	list-style-type: none;
	padding: 0;
}
.temp li {
	margin-bottom: 10px;
}



@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.navbar{
  z-index: 99999;
  $ref: &;
  position: fixed;
  top: $spacer;
  left: $spacer;
  background: #fff;
  border-radius: $borderRadius;
  padding: $spacer 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.03);
  height: calc(100vh - #{$spacer*4});
  &__link{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $linkHeight;
    width: $spacer * 5.5;
    color: $text-blue_1;
    transition: $transition;
    span{
      position: absolute;
      left: 100%;
      transform: translate(-($spacer*3));
      margin-left: 1rem;
      opacity: 0;
      pointer-events: none;
      color: $primary;
      background: #fff;
      padding: $spacer *0.75;
      transition: $transition;
      border-radius: $borderRadius * 1.75;
    }
    &:hover{
      color: #fff;
    }
    .navbar:not(:hover) &:focus,
    &:hover{
      span{
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  &__menu{
    position: relative;
  }
  &__item{
    &:last-child{
      &:before{
        content: '';
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: $spacer;
        width: $linkHeight;
        height: $linkHeight;
        background: $primary;
        border-radius: $borderRadius * 1.75;
        transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;

      }
    }

    @for $i from 1 to 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ li {
        &:hover {
          ~ li:last-child:before {
            opacity: 1;
          }
        }
        &:last-child:hover:before {
          opacity: 1;
        }
        @for $j from 1 to $i {
          &:nth-child(#{$j}):hover, {
            ~ li:last-child:before {
              @include gooeyEffect($j);
              top: (100% / $i) * ($j - 1);
              animation: gooeyEffect-#{$j} $timing 1;
            }
          }
        }
        &:last-child:hover:before, {
          @include gooeyEffect($i);
          top: (100% / $i) * ($i - 1);
          animation: gooeyEffect-#{$i} $timing 1;
        }
      }
    }

  }

}

.createTaskForm {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 25%;

  background: transparent;

  header {
    position: relative;
    z-index: 4;
    background: $white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;

    h1 {
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #333;
      font-size: 23px;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      word-spacing: 0px;
      color: rgb(159, 172, 182);
      font-size: 17px;
      margin: 0;
      margin-top: 5px;
    }
  }

  form {
    position: relative;
  }

  .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: $input-height;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in;

    &.folded {
      width: 95%;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;

      input {
        background-color: $primary;
      }

      span {
        background-color: $primary;
      }
    }

    &.folded + .folded {
      width: 90%;
      margin-top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0;

      input {
        background-color: $primary-hover;
      }

      span {
        background-color: $primary-hover;
      }
    }

    &.fold-up {
      margin-top: -$input-height;
    }
  }

  form input {
    background: lighten(rgb(243, 243, 251), 5%);
    color: $primary;
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $primary;
      font-weight: 350;
      letter-spacing: 2px;
      opacity: 0.6;
    }
  }
}

.animated-button {
  width: 20%;
  background-color: $white;

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: $input-height;
    text-align: center;
    height: $input-height;
    transition: all 0.2s ease-in;

    i {
      font-size: 25px;
      color: $text-blue_1;
    }
  }

  .next-button {
    background: $secondary;
    color: $white;
    font-weight: 100;
    width: 100%;
    border: 0;
    position: relative;
    z-index: 1000;
  }
}

.next {
  margin-top: -$input-height;
}

.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: $input-height;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 0 100px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in;
  background: limegreen;
  margin-top: -$input-height;

  p {
    color: $white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}


/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}