<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List | Tableau de Bord</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<script src="https://unpkg.com/feather-icons"></script>
<body>
    <div class="logoHeader">
        <a href="/" ><div class="logoHeader__style">ToDo List</div></a>
    </div>
    <nav class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/dash" class="navbar__link"><i data-feather="pie-chart"></i><span>Dashboard</span></a>
        </li>
        <li class="navbar__item">
          <a href="/add" class="navbar__link"><i data-feather="plus-square"></i><span>Ajouter</span></a>
        </li>
        <li class="navbar__item">
          <a href="/todo" class="navbar__link"><i data-feather="list"></i><span>ToDo</span></a>
        </li>
        <li class="navbar__item">
          <a href="/plans" class="navbar__link"><i data-feather="dollar-sign"></i><span>Abonnements</span></a>
        </li>
        <li class="navbar__item">
          <a href="/settings" class="navbar__link"><i data-feather="tool"></i><span>Paramètres</span></a>
        </li>
        <li class="navbar__item">
          <a href="/login" class="navbar__link" onclick="logout()"><i data-feather="log-out"></i><span>Déconnexion</span></a>
        </li>
      </ul>
    </nav>

    <div class="charts-container">

      <div class="charts-card">
        <h3 class="title">Tâche(s) <span style="color: #af0505">à faire</span></h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        </div>
      </div>
      <div class="charts-card">
        <h3 class="title">Tâche(s) <span style="color: #3fcc35">faite(s)</span></h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        </div>
      </div>
      <div class="charts-card">
        <h3 class="title">Tâche(s) total</h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
        </div>
      </div>
    </div>

<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

    <!-- ____________ JavaScript ____________ -->

    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>