<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List | Gate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<script src="https://unpkg.com/feather-icons"></script>
<body>
<div class="center-login">
    <div class="login-container" id="login-container">
        <div class="form-container sign-up-container">
            <form action="/api/signup" method="POST">
                <h1>Création de compte</h1>
                <div class="social-container">
                    <a href="#" class="social"><i data-feather="github"></i></a>
                    <a href="#" class="social"><i data-feather="linkedin"></i></a>
                    <a href="#" class="social"><i data-feather="link-2"></i></a>
                </div>
                <input type="text" name="name" placeholder="Name" required/>
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <input type="password" name="repeat_password" placeholder="Repeat password" required/>
                <button type="submit" style="margin-top: 15px;">Créer ton compte</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="loginForm" method="POST">
                <h1>Connexion</h1>

                <div class="social-container">
                    <a href="#" class="social"><i data-feather="github"></i></a>
                    <a href="#" class="social"><i data-feather="linkedin"></i></a>
                    <a href="#" class="social"><i data-feather="link-2"></i></a>
                </div>
                <input id="email" type="email" name="email" placeholder="Email" />
                <input id="password" type="password" name="password" placeholder="Password" />
                <a href="#">Mot de passe oublié?</a>
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Re-Bonjour!</h1>
                    <p>Pour acceder à ton compte, connecte toi</p>
                    <button class="ghost" id="signIn">Se connecter</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenue!</h1>
                    <p>Si tu n'as pas encore de compte, c'est ici</p>
                    <button class="ghost" id="signUp">Créer ton compte</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

    <!-- ____________ JavaScript ____________ -->
<script>
  document.querySelector('#loginForm').addEventListener('submit', async function(event) {
    event.preventDefault();

    const email = document.querySelector('#email').value;
    const password = document.querySelector('#password').value;

    const response = await fetch('/api/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: new URLSearchParams({ email, password }),
    });

   if (response.ok) {
        const data = await response.json();
        const token = data.access_token;

        sessionStorage.setItem('authToken', token);

        window.location.href = '/';
    } else {
        alert("Login failed!");
    }
  });
</script>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('login-container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
            console.log()
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
            console.log()
        });
    </script>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>